{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
<style>
    .no-margin{
        margin: 0
    }
</style>
<div class="container-fluid text-white mt-3">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <h2 class="display-4 mt-3 text-center" id="welcome-heading">Bienvenue sur mon site !</h2>
        </div>
        <div class="col-md-6" id="textPres" style="margin-top: 80px">
            <h4>Je suis {{ user.prenom }} {{ user.nom }},</h4>
            <p class="lead">Mon enthousiasme pour le développement web m'a guidé vers une aventure passionnante dans le monde numérique.</p>
            <p class="lead">Ma soif de création et d'innovation m'a poussé à explorer en profondeur le domaine du développement web.</p>
        </div>
        <div id="animated-div" class="col-md-6 text-center" style="margin-top: 80px">
            <div class="image-contour mx-auto">
                <img src="{{ asset('images/photo.jpg') }}" alt="Image de profil">
            </div>
        </div>
        <div class="mt-3" id="textPres">
            <a href="{{ asset('cv-alexandre-cano.pdf') }}" class="btn btn-info" download="cv-alexandre-cano.pdf">
                <img src="{{ asset('images/pdf.png') }}" alt="PDF Icon" class="pdf-icon"> Télécharger mon CV
            </a>
        </div>
        <div class="col-md-6 offset-md-3 text-center" style="margin-top: 80px">
            <div class="d-flex justify-content-between">
                <a id="animated-link" href="javascript:void(0);" onclick="afficherParcours('parcoursPro');" class="btn btn-primary">Parcours Professionnel</a>
                <a id="animated-link2" href="javascript:void(0);" onclick="afficherParcours('parcoursEtudiant');" class="btn btn-primary">Parcours Étudiant</a>
            </div>
        </div>
    </div>
</div>

<div id="parcoursPro" class="text-white text-center mt-3" style="display: none;">
    <h2>Parcours professionnel</h2>
            {% for experience in experiences %}
        <li class="list-group-item text-white text-start ms-2">
            <h4 class="mt-4 mb-3">{{ experience.nomentreprise }}</h4>
        <div class="row no-margin">
            <div class="col-md-2 bubble" style="text-align: center; margin-left: 110px; margin-top: 50px; margin-bottom: 50px">
                <strong>Adresse :</strong>
                <p>{{ experience.adresse }}, {{ experience.cp }}</p>
            </div>
            <div class="col-md-2 bubble" style="text-align: center; margin-left: 110px; margin-top: 50px; margin-bottom: 50px">
                <strong>Période :</strong>
                <p>{{ experience.datedebut|date('d/m/Y') }} - {{ experience.datefin|date('d/m/Y') }}</p>
            </div>
            <div class="col-md-2 bubble" style="text-align: center; margin-left: 110px; margin-top: 50px; margin-bottom: 50px">
                <strong>Poste :</strong>
                <p>{{ experience.poste }}</p>
            </div>
            <div class="col-md-2 bubble" style="text-align: center; margin-left: 110px; margin-top: 50px; margin-bottom: 50px">
                <strong>Type de contrat :</strong>
                <p>{{ experience.typecontrat }}</p>
        </div>
    </div>
        </li>
        {% endfor %}
</div>

<div id="parcoursEtudiant" class="text-white text-center mt-3" style="display: none;">
    <!-- Contenu du parcours étudiant -->
    <h2>Parcours étudiant</h2>
    <!-- Ajoutez ici les informations du parcours étudiant -->
</div>
{% endblock %}
